*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	color: #fff;
	background-color: white;
	font-family: 'Oxygen',sans-serif;	
}

/** HEADER **/
#header-nav {
	background-color: #808080;
	border-radius: 0;
	border: 1px solid black;
	clear:left;
	position: relative;
}

.navbar-brand{
	padding-top: 25px;
	padding-left: 10px;
}

.navbar-brand .container h1{ // heading styles
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
	line-height: .75;
}
#heading{
	color:black;
}
/** to avoid the line below the website header **/
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  clear:left;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  position: absolute;
  height: .75;
}
/* END HEADER */
.container {
  border: 1px solid #black;
}
#sub-heading{
	color:black;
	padding-top: 25px;
}
.container{
	width: 100%;
	border: 1px solid #000000;
	background-color: #808080;
	padding-top: 5px;
	margin-bottom: 5px;
}

/********** Extra extra small devices only **********/
@media (max-width: 479px) {
  .inner-heading{
  	width: 50%;	
  }
  .content{
  	width: 50%;	
  }
  .container  {
  	height: 1000px;
  }
}
  /********** Extra small devices only **********/
@media (max-width: 767px) and (max-width: 480px){
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  .inner-heading{
  	width: 50%;	
  }
  .container  {
  	height: 1000px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container  {
  	height: 1000px;
  }
  /* End Home Page */
}
/********** Medium devices only **********/
@media (min-width: 992px)  {
  
  /* Home Page */
  .container {
  	height: 1000px;
  }
  /* End Home Page */
}

  /* Home Page */